<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Liste de personnes</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="monapp"> 
    <div ng-init="" ng-controller="monController">
      <h2>Formulaire</h2>
        <form name="fpersonne"  action="#" ng-submit="incrementer()">
            Nom :<input ng-model='toto.nom'/><br/>
            Prenom :<input  ng-model='toto.prenom'/><br/>
            Age :<input type='Number' ng-model='toto.age'/><br/>
            <input type="submit" ngClick="Enregistrer" >
            <input type="submit" ngClick="Supprimer">
        </form>
        Personne : {{toto}} <br/>
    </div>
    <script>
    angular.module ('monapp', [])
    .controller("monController", function($scope, $http) {
       $scope.totos = [];
       $scope.toto = {};
       $scope.index = 0;
       
       var rep= $http.get("lire.jsp");
       console.log(rep);
       
       rep.then(function onSuccess(response)
       {
    	   $scope.totos = angular.fromJson(response.data);
    	   $scope.toto = $scope.totos[$scope.index];
    	   console.log($scope.totos);
       });
       
        $scope.incrementer = function() {
            $scope.index++;
            if($scope.index>9) $scope.index=0;
            $scope.toto = $scope.totos[$scope.index];
        };
    });
    </script>
   </body>
</html>