<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Formation POEC 2017 </title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
   <body ng-app="monapp"> 
	<div ng-init="" ng-controller="monController">
	  <h2>Formulaire</h2>
		<form name="fpersonne"  action="#" ng-submit="submitForm()">
			Nom :<input ng-model='personne.nom'/><br/>
			Prenom :<input  ng-model='personne.prenom'/><br/>
			Age :<input type='Number' ng-model='personne.age'/><br/>
			<input type="submit" ngClick="Submit" >
		</form>
		Personne : {{affiche()}} <br/>
		Resultat: {{res}} <br/>
	</div>
	<script>
	angular.module ('monapp', [])
    .controller("monController", function($scope, $http) {
	   $scope.personne={
			nom:'vide',
			prenom:'vide',
			age:-1
	   };
	   $scope.res="";
	   $scope.affiche = function ()
		{
			return $scope.personne.nom + "--" + $scope.personne.prenom + "--" + $scope.personne.age;
		}

	    $scope.submitForm = function() {
			console.log($scope.personne);
		};
	});
	</script>
   </body>
</html>