a,
abbr,
acronym,
address,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
html,
img,
label,
legend,
li,
object,
ol,
p,
pre,
q,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
body {
    line-height: 1.5
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}
blockquote,
q {
    quotes: "" ""
}
a img {
    border: none
}
html {
    font-size: 100.01%
}
body {
    font-size: 75%;
    color: #222;
    background: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

p
{
    margin: 0 0 1.5em
}
p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0
}
p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em
}
a:focus,
a:hover {
    color: #000
}
a {
    color: #009;
    text-decoration: underline
}
blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic
}
strong {
    font-weight: 700
}
li ol,
li ul {
    margin: 0
}
ol,
ul {
    margin: 0 1.5em 1.5em 0;
    padding-left: 3.333em
}
ul {
    list-style-type: disc
}
ol {
    list-style-type: decimal
}

.container {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1
}
.container:after,
.container:before {
    display: table;
    content: "";
    zoom: 1
}
.container:after {
    clear: both
}
.row {
    zoom: 1;
    margin-left: -10px
}
.row:after,
.row:before {
    display: table;
    content: "";
    zoom: 1
}
.row:after {
    clear: both
}
.row>[class*=span] {
    display: inline;
    float: left;
    margin-left: 10px
}
.span1 {
    width: 70px
}
.span2 {
    width: 150px
}

aside,
header,
nav,
section {
    display: block
}
a {
    text-decoration: none;
    color: #fff
}
a:hover,
a:visited {
	text-decoration: none;
    color: #fff
}
ul {
    margin: 0;
    padding: 0
}
p {
    margin-bottom: 1.4em
}

form * {
    font-family: arial, sans-serif;
    color: #fff;
    background: #000
}

body {
    font-size: 62.5%;
    line-height: 1.8em;
    background: #000
}
body * {
    color: #fff
}
#page {
    position: relative;
    margin: 30px auto;
    width: 960px;
    
    overflow: visible;
}
#container {
    margin: 0 0 0 250px;
    font-family: arial, sans-serif
}
#middle {
    position: relative;
    min-height: 450px
}

.hamburger {
    display: none
}
header#header {
    height: 90px;
    border-bottom: 1px solid #aeaeae
}
header#header #identity {
    height: inherit
}
header#header nav {
    position: relative
}
header#header nav ul li {
    border-top: 1px solid #aeaeae;
    list-style-type: none
}
header#header nav ul li.active a {
    color: orange
}
header#header nav ul li a {
    display: block;
    font-size: 1.25em
}
header#header nav #primary li ul {
    display: none
}
header#header nav #primary li.active,
header#header nav #primary li:hover {
    border-color: orange;
    color: orange
}
header#header nav #primary li.active ul,
header#header nav #primary li:hover ul {
    display: block
}
header#header nav #primary li.active ul li,
header#header nav #primary li:hover ul li {
    border-color: #aeaeae
}
header#header nav #primary li.active ul li a,
header#header nav #primary li:hover ul li a {
    color: #fff
}
header#header nav #primary li.active>a,
header#header nav #primary li:hover>a {
    color: orange
}
header#header nav #primary li.active li:hover,
header#header nav #primary li:hover li:hover {
    border-color: orange
}
header#header nav #primary li.active li:hover a,
header#header nav #primary li:hover li:hover a {
    color: orange
}
header#header nav #primary li.child-active ul {
    display: block
}

#content {
    padding-top: 16px
}
#content p {
    font-size: 1.25em
}
#content a {
    border-bottom: 1px dotted grey
}
#content a:hover {
    color: #aeaeae
}
#content aside h2 {
    font-size: 1.25em;
    margin: 0;
    border: none
}
#content aside strong {
    font-size: 1.25em
}
#content aside ul.cross li {
    font-size: 1.25em;
    color: #aeaeae
}
#content aside ul.cross li a {
    border: none
}


body#home {
    position: relative;
    z-index: 0
}
body#home #page {
    margin-bottom: 0
}
body#home header#header {
    border: none
}
body#home header#header nav ul li a {
    background-image: url(../images/layout/trans.gif)
}

body#home #supersized-loader {
    display: none
}

header#header #primary #symbol {
    display: none
}

.body--touch header#header {
    height: 224px
}
.body--touch header#header nav ul li a {
    height: 24px
}

.body--touch div.pagination a,
.body--touch div.pagination span {
    padding: 0 3px
}

.body--touch #content aside ul.cross li {
    min-height: 24px
}
.body--touch header#header nav #primary li ul {
    display: block
}
.body--touch header#header #primary .projects li {
    display: none
}



@media (max-width: 1023px) {
    #page {
        width: 711px;
        margin: 28px auto
    }
    
    #container {
        width: 711px;
        margin: 180px 0 0 0
    }
    
    #home #container {
        margin-bottom: -180px
    }
 
}
@media (max-width: 767px) {
    #container,
    #page {
        width: 471px
    }
    .body--touch header#header,
    header#header {
        height: auto
    }
    header#header #primary .span2 {
        height: 94px;
        width: 90px
    }
    .body--touch header#header #primary .span2 {
        height: 118px
    }
    
    #middle.people .span9 {
        width: auto
    }
    #middle.people section figure {
        width: 230px
    }
    #middle.people section figure img {
        max-width: 100%
    }
    
    #contact-form {
        margin-left: 10px
    }
    
}
@media (max-width: 529px) {
    #page {
        width: auto;
        margin: 14px 14px
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 18px;
        top: 22px;
        background-color: transparent;
        border: none;
        padding: 10px;
        z-index: 11
    }
    .hamburger .hamburger__lines {
        position: relative;
        width: 30px;
        height: 21px
    }
    .hamburger .hamburger__line {
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #fff;
        -webkit-transition: all .2s .4s;
        -o-transition: all .2s .4s;
        transition: all .2s .4s
    }
    .hamburger .hamburger__line:nth-of-type(1) {
        top: 0
    }
    .hamburger .hamburger__line:nth-of-type(2) {
        top: 10px
    }
    .hamburger .hamburger__line:nth-of-type(3) {
        top: 20px
    }
    .hamburger--active .hamburger__line:nth-of-type(1) {
        -webkit-transform: rotate(45deg) translate(4px, 2px);
        -ms-transform: rotate(45deg) translate(4px, 2px);
        transform: rotate(45deg) translate(4px, 2px);
        width: 50%
    }
    .hamburger--active .hamburger__line:nth-of-type(2) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .hamburger--active .hamburger__line:nth-of-type(3) {
        -webkit-transform: rotate(45deg) translate(6px, -12px);
        -ms-transform: rotate(45deg) translate(6px, -12px);
        transform: rotate(45deg) translate(6px, -12px);
        width: 50%
    }
    header#header nav #primary {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        margin-top: -30px;
        padding: 120px 14px 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: opacity .4s, padding .4s;
        -o-transition: opacity .4s, padding .4s;
        transition: opacity .4s, padding .4s
    }
    header#header nav #primary.row--active {
        opacity: 1;
        pointer-events: all;
        padding-top: 100px
    }
    header#header #primary #symbol {
        display: block;
        top: 14px;
        left: 24px;
        margin-left: 0
    }
    .body--touch header#header #primary .span2,
    header#header #primary .span2 {
        width: -webkit-calc(100% - 28px);
        width: calc(100% - 28px);
        height: 118px
    }
    .body--touch header#header #primary .span2.about,
    header#header #primary .span2.about {
        height: 94px
    }
    .body--touch header#header #primary .span2.projects,
    header#header #primary .span2.projects {
        height: 46px
    }
    .body--touch header#header #primary .span2.blog,
    header#header #primary .span2.blog {
        height: 94px
    }
    .body--touch header#header #primary .span1,
    header#header #primary .span1 {
        width: -webkit-calc(100% - 28px);
        width: calc(100% - 28px)
    }
    #container {
        margin-top: 140px;
        width: 100%
    }
  
}

div#supersized {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100%;
    width: 100%
}
div#supersized img {
    width: auto;
    height: auto;
    position: relative;
    display: none;
    outline: 0;
    border: none
}
div#supersized.speed img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges
}
div#supersized.quality img {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality
}
div#supersized a {
    z-index: -30;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111
}
div#supersized a.prevslide {
    z-index: -20
}
div#supersized a.activeslide {
    z-index: -10
}
div#supersized a.activeslide img,
div#supersized a.prevslide img {
    display: inline
}
@media print {
    body,
    html {
        width: 900px
    }
    html {
        font-size: 62.5%
    }
}